body {
    font-family: "Comic Sans MS";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 520px;
    width: 450px;
    margin: 0;
    background-color: dimgrey;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

#activate-bime {
    background-color: rebeccapurple;
    height: 39px;
    width: 93px;
    position: relative;
    top: -46%;
    left: 40%;
    border-radius: 5px;
    cursor: pointer;
}

.Bime-text {
    position: relative;
    left: -239px;
    color: #cccccc;
    font-family: "Comic Sans MS", serif;
}

.Bime-text:hover {
    color: rgb(7, 192, 136);
}

.Bime-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 25%, rgba(255, 255, 255, 0) 50%);
    transform: skewX(-30deg);
    transition: left 0.5s;
    pointer-events: none;
}

.Bime-text:hover::before {
    left: 100%;
    animation: glitter-animation 2s linear infinite;
}

@keyframes glitter-animation {
    0% {
        transform: skewX(-30deg) translateX(-100%);
    }
    100% {
        transform: skewX(-30deg) translateX(100%);
    }
}

.clock-icon,
.settings-icon,
.chart-icon {
    width: 24px;
    height: 23px;
    cursor: pointer;
    transition: color 0.3s ease;
    color: #cccccc;
    box-shadow: 0 0 5px 2px rgba(218, 112, 214, 0);
    border-radius: 40%;
    margin-right: 10px;
    margin-left: 10px;
}

.chart-icon {
    margin-right: 0;
}

.icons-div {
    position: absolute;
    top: 1px;
    right: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.clock-icon:hover,
.settings-icon:hover,
.chart-icon:hover {
    color: rgb(7, 192, 136);
    /*rgb(7, 494, 136)*/
    box-shadow: 0 0 5px 5px rgba(7, 192, 136, 0.87);
}

.top-section {
    width: 360px;
    height: 160px;
    border: 1px solid #888888;
    margin-top: 10px;
    position: relative;
    top: -15px;
    border-radius: 6px;
    /* background-color: #fff; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.bottom-section {
    width: 380px;
    height: 165px;
    border: 1px solid #888888;
    border-radius: 6px;
    /*background-color: rgba(245, 245, 245, 0.33);*/
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.13);
    position: relative;
    top: 5px;
}

.hostname-input {
    font-family: "Comic Sans MS";
    width: 346px;
    background-color: dimgrey;
    top: 28px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 17px;
    position: relative;
    top: 21px;
}

.hostname-input input[type="text"] {
    outline: none;
    background-color: transparent;
    font-family: "Comic Sans MS";
    height: 36px;
    width: 322px;
    padding: 10px;
    border: 1px solid #888888;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 200;
    color: white;
}

.hostname-input input[type="text"]:focus {
    border-color: rgb(7, 192, 136);
    border-style: solid;
    border-width: 2px;
}

.time-inputs {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 43px;
    position: relative;
}

.time-label {
    position: absolute;
    top: -15px;
    left: 18px;
    font-size: 12px;
    font-weight: bold;
    color: #2c2c2c;
    animation: glowing 1.5s ease-in-out infinite;
}

.time-label2 {
    position: absolute;
    top: -15px;
    left: 231px;
    font-size: 12px;
    font-weight: bold;
    color: #2c2c2c;
    animation: glowing 1.5s ease-in-out infinite;
}

.time-inputs input[type="time"] {
    background-color: transparent;
    outline: none;
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 108px;
    color: white;
}

.time-inputs input[type="time"]:focus {
    border-color: rgb(7, 192, 136);
    border-style: solid;
    border-width: 2px;
}

.save-button {
    display: block;
    margin-top: 20px;
    padding: 8px 15px;
    background-color: rgb(7, 192, 136);
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
    margin: 33px auto;
    width: 60px;
    justify-content: center;
    display: flex;
    font-family: "Comic Sans MS", serif;
}

.save-button:hover {
    color: black;
    font-family: Impact;
    background-color: whitesmoke;
    transform: scale(1.1);
    font-family: "Comic Sans MS", serif;
    height: 37px;
}

#hostname-icon {
    width: 32px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50.2%;
    right: 6.2%;
    transform: translateY(-50%);
    display: none;
}

#displayed-hostnames {
    max-height: 200px;
    overflow-y: auto;
}

#displayed-hostnames img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

#displayed-hostnames span {
    font-family: "Comic Sans MS", serif;
    background-color: rgba(0, 0, 0, 0.54);
    /*rgb(7, 192, 136);*/
    border: 1px solid #888888;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    position: relative;
    width: 300px;
    height: 15px;
    font-size: 16px;
    color: white;
}

#displayed-hostnames .entry-container {
    position: relative;
}

.edit-icon,
.delete-icon {
    width: 20px;
    height: 19px;
    cursor: pointer;
    color: #888888;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: -1px;
    /*border: solid 1pt red;*/
}

.edit-icon:hover,
.delete-icon:hover {
    fill: white;
}

/*.delete-icon {*/
/*    right: -9px;*/
/*    width: 20px;*/
/*    height: 19px;*/
/*    cursor: pointer;*/
/*    color: #888888;*/
/*    margin-left: 10px;*/
/*    margin-right: 5px;*/
/*    margin-top: -1px;*/
/*    border: solid 1pt red;*/
/*}*/

.entry-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #888888;
    /*rgb(7, 192, 136);*/
    border: 1px solid #888888;
    border-radius: 5px;
    padding: 8px;
    position: relative;
}

.entry-container img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.entry-container span {
    font-family: "Comic Sans MS", serif;
    font-size: 16px;
    color: white;
    flex: 1;
}

.error-message {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 0, 0, 0.8);
    color: #fff;
    font-family: "Comic Sans MS";
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.save-button.disabled-button {
    cursor: not-allowed;
    opacity: 35.2%;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
    background: #888888;
}

::-webkit-scrollbar-thumb:hover {
    background: #55555500;
}
